.container {
    height: 400px;
    margin: 50px auto;
    position: relative;
    background: linear-gradient( blue, pink);
    padding: 50px 80px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);

}
.info__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.info__name {
    font-size: 36px;
    color: white;
    margin-bottom: 15px;
}
.info__address {
    color: white;
    align-self: start;
    margin: 0 0 15px 0;
}
.avatar {
    box-shadow: 0 0 7px #535353;
}

.info {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 40%;


}
.info__links {
    display: flex;
    flex-direction: row;
}

