.info__link {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 10px;
}

.info__link__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}