.nav {

    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    padding: 0  50px;

}

.nav__link {
    display: flex;
    align-content: center;
    text-decoration: none;
    color: #F6F6FF;
    font-style: italic;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
    box-sizing: content-box;
}
.nav__link:hover {
    color: #5EDFFF;

}
.nav__link_active {
    border-bottom: 3px solid #5EDFFF;
    color: #5EDFFF;
}


.nav__item {
    border-radius: 5px;
    padding: 7px;
    display: flex;
    align-content: center;
}

.nav__icon {
    margin-right: 5px;
    color: inherit;
}

