.messageSender {
    display: flex;
    justify-content: start;
    margin: 50px auto 0;
    padding: 20px;
    background-color: #ebebf3;
    border-radius: 15px;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    width: 100%;
    max-width: 1200px;

    box-sizing: border-box;
}
.messageSender__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.messageSender__wrapper > form {
    display: flex;
    flex: 1;
    width: fit-content;
    align-items: center;
}

.messageSender__input {
    outline: none;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: white;
    margin: 0 20px;
    width: 60%;
    height: 100%;
    font-size: 15px;
}
.form__button__wrapper {
    width: 20%;
    height: 100%;
    min-width: 50px;
}
