input {

    width: 100%;
    font-size: 16px;
    border: none;
    padding: 10px 20px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 9px -5px rgba(0, 0, 0, .75);

}
.email__alert {
    display: none;
}

.email__alert_visible {
    display: block;
}


.email__link_visible {
    display: inline;
}