.formsWrapper {
    width: 100%;
    mix-width: 300px;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10vh;
}
.formTabs {
    display: flex;
    box-sizing: border-box;

}
.formTabs__item {
    background-color: rgba(235, 235, 243, .2);
    color: dimgrey;
    width: 50%;
    height: fit-content;
    padding: 10px;
    border-radius: 20px 0 0 0;
    box-shadow: 0px -1px 12px -6px rgba(0, 0, 0, .2);
    /*border: 2px solid dimgrey;*/
    box-sizing: border-box;
}

.formTabs__item_active {
    background-color: rgba(235, 235, 243);
    box-shadow: 0px -1px 12px -6px rgba(0, 0, 0, .75);
    box-sizing: border-box;
}

.visible {
    display: flex;
}

.invisible {
    display: none;
}

.link_invisible {
    display: none;
}