
.app__body {
    background-color: #EFF4FB;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;


}
.main {
    width: 100%;
    max-width: 1200px;
    flex: 1 1 auto;
    margin: 0 auto;
}
.button {
    background-color: #f3f3f3;
    color: #535353;
    border: 2px solid #acacb2;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 9px -5px rgba(0, 0, 0, .75);
}
.button:focus {
    outline: 3px solid #FFFFFF;
}
.button:active {
    outline: 3px solid #534FEE;
    color: #534FEE;
    background-color: #FFFFFF;
}

.button:disabled {
    color: white;
    background-color: #EBEBF3;
    border: none;
}


/*.container {*/
/*    max-width: 1200px;*/
/*    margin: 0 auto;*/
/*}*/

/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
