.companyInfo {
    margin: 0 auto;
}
.companyInfo > h1, h2 {
    text-align: center;
}

textarea {
    margin: 25px 0;
    width: 100%;
    height: 100px;
    font-size: 16px;
    border: none;
    padding: 10px 20px 5px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 9px -5px rgba(0, 0, 0, .75);
}
.form__feedback {
    margin: 0 auto;
    max-width: 50%;
    min-width: 300px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    border-top: none;
    box-sizing: border-box;
    background-color: #ebebf3;
    color: dimgrey;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.feedback__label {
    width: 100%;
}

.feedback__button {
    min-width: 175px;
    width: 50%;
    height: 50px;

}
.feedback__notice {
    margin: 20px auto 0;
    text-align: center;

}