.footer {
    margin: 50px auto 0;
    padding-bottom: 20px;
    color: dimgrey;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer > ul {
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    list-style-type: none;

}
.footer > ul > li {
    display: flex;
    align-items: center;
}

.footer > ul > li >span {
    padding: 5px;
    font-size: 31px;
}
.footer > ul > li > a {
    color: dimgrey;
}

