.friend__card {
    justify-content: space-between;
    display: flex;
    flex-flow: column wrap;
    min-width: 250px;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
    background-color: #F6F6FF;
    box-shadow: 0 1px 12px -6px rgb(0 0 0 / 75%);
    padding: 20px;
    box-sizing: border-box;


}
.friend__avatar {
    width: 150px;
    height: 150px;
}
.friend__info {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.friend__name > h3 {
    margin: 0;
    /*text-align: center;*/


}
.friend__email {
    margin: 0;
    font-size: 14px;
    color: #535353;
}

.card__buttonGroupWrapper {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card__buttonWrapper {
    height: 30px;
}