.header {
    width: 100%;
    height: 100px;
    background: #615DFA;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 8px -9px, black;
}
.header__container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__logo__bg {
    background-color: #615DFA;
    height: 100px;
}
.header__logo__bg > img {
    color: white;
    height: 100%;
    width: 200px;

}

.header__search {
    display: flex;
    align-content: center;
    justify-content: end;

}

.search__icon {
    color: white;
    border-radius: 5px 0 0 5px;
}

.search__input {
    border: darkcyan 2px solid;
    border-radius: 20px;

}

.search__button {
    width: fit-content;
    padding-left: 10px;
    flex: 1 0 auto


}

