.education {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 20px;
    background-color: #F6F6FF;
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    padding: 20px;
    box-sizing: border-box;
}
.education__title {
    display: inline;
}