.wrapper {
    box-shadow: 0 1px 12px -6px rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: row;
    width: 1200px;
    margin: 0 auto;
   /*justify-content: space-between;*/
    border: 2px solid lightgrey;
    border-radius: 10px;
    background-color: white;

}

.contentNavigation__itemWrapper {
    flex: 1 1 0;
}

.contentNavigation__itemWrapper > a {
    text-decoration: none;
}